<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-841">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="/">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/pcfitnessLogo.png" alt="logo" width="85" height="85">
            </a>
            <p class="cs-text">

            </p>
            <div class="cs-social">
                <a class="cs-social-link" aria-label="visit facebook profile" href="https://www.facebook.com/Pamcorbettfitness/">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fface-white1.svg" alt="facebook" width="11" height="11">
                </a>
                <a class="cs-social-link" aria-label="visit instagram profile" href="https://www.instagram.com/pamcorbettfitness/">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Finsta-white1.svg" alt="instagram" width="11" height="11">
                </a>
            </div>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Quick Links</span>
            <ul class="cs-ul cs-ul-1">
                <li class="cs-li">
                    <a class="cs-link" href="/">Home</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/about">About</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/personaltraining">Personal Training</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/guthealth">Gut Health & Peptides</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/healthwellness">Health & Wellness Products</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="cs-ul-wrapper">
            <!-- Contact Info -->
            <span class="cs-header">Contact Information</span>
            <ul class="cs-ul">
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="tel:315-456-8504">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fphone3-grey.svg" alt="phone icon" width="20" height="20">
                        315-456-8504
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="mailto:pamcorbettfitness@gmail.com">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Femail3-grey.svg" alt="email icon" width="20" height="20">
                        pamcorbettfitness@gmail.com
                    </a>
                </li>
                <li class="cs-li">
                    <!--Make this link go to the google page-->
                    <a class="cs-link" href="https://www.google.com/search?sca_esv=596594266&sxsrf=AM9HkKkGra5ggDxTjYxu1Qv8zBGDMe6B2Q:1704732985709&q=The+Third+Apartments+at+St.+Cecilia&ludocid=9458613845347257638&lsig=AB86z5VHY9kyQB9S31q55MvnGLce&sa=X&ved=2ahUKEwje8bKgoc6DAxXtfDABHdWmB9gQoAJ6BAgbEAc&biw=1278&bih=1269&dpr=1" target="_blank">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpin3-grey.svg" alt="pin icon" width="20" height="20">
                        103 Third Street, Solvay, NY
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2023 <a href="/" class="cs-credit-link" target="_blank">SparkStitch Web Designs</a>
        </span>
        <div class="cs-bottom-links">
            <a href="/" class="cs-bottom-link">Privacy Policy</a>
            <a href="/" class="cs-bottom-link">Terms Of Use</a>
        </div>
    </div>
</footer>
                                