---
title: 'About'
description: 'About Pam Corbett | Personal Trainer Syracuse, NY'
preloadImg: '/assets/images/pcfitnesslogo.png'
permalink: 'about/'
eleventyNavigation:
    key: About
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-558">
    <div class="cs-container">
        <span class="cs-int-topper">Pam Corbett Fitness</span>
        <span class="cs-int-title">About</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/about" class="cs-link cs-active">About</a>
        </div>
    </div>
</div>
                                

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/aboutpic1.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/aboutpic1.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/aboutpic1.png" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/aboutpic2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/aboutpic2.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/aboutpic2.webp" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Me</span>
                <h2 class="cs-title">Hi, I'm Pam Corbett</h2>
                <p class="cs-text">
                    I have been a personal trainer since 2007 and have trained many clients ranging from athletes to people with disabilities.
                </p>
                <p class="cs-text">
                    I believe exercise is fundamental to living a well-balanced life, physically and mentally. I strive to help clients meet their goals by designing purposeful and individually inspired exercise programs along with healthy fat burning recipes.
                </p>
                <p class="cs-text">
                    My own personal struggles have helped me understand and relate with any physical and mental limitations my clients may have. I have the Drive, Dedication and Experience to cement the importance of a healthy lifestyle that will push you to reach those goals you Desire and see Results!
                </p>
                <p class="cs-text">
                    Here are some of my Certifications: 
                
                <ul class="cs-ul">
                    <li class="cs-li">
                        WITS CPT
                    </li>
                    <li class="cs-li">
                        NSCA
                    </li>
                    <li class="cs-li">
                        TRX
                    </li>
                    <li class="cs-li">
                        MOSSA & Les Mills Certifications
                    </li>
                    <li class="cs-li">
                        Perform Better Functional Training Summit
                    </li>
                    <li class="cs-li">
                        Training for Warriors
                    </li>
                    <li class="cs-li">
                        Silver Sneakers
                    </li>
                    <li class="cs-li">
                        Precision Nutrition
                    </li>
                    <li class="cs-li">
                        TPT Level 1 - Golf Strengthening
                    </li>
                    <li class="cs-li">
                        Creator of Mind, Bike & Soul
                    </li>
                    <li class="cs-li">
                        Creator of Vicious Cycle
                    </li>
                    <li class="cs-li">
                        Co-Creator of Total Reset Weight Loss
                    </li>
                    <li class="cs-li">
                        Co-Creator of 6 Week Meltdown
                    </li>
                </p>
                    <br>
                    <br>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Fitness is the key to unlocking your body's full potential, while health is the priceless treasure that allows you to enjoy life's greatest moments. Together, they create a harmonious symphony of well-being.
                    </p>
                    <span class="cs-name">Pam Corbett</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                </ul>
                
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}