---
title: 'Health & Wellness'
description: 'Health & Wellness Products | Pam Corbett | Personal Trainer Syracuse, NY'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'healthwellness/'
eleventyNavigation:
    key: Projects
    order: 1000
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/healthwellness.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-558">
    <div class="cs-container">
        <span class="cs-int-topper">Pam Corbett Fitness</span>
        <span class="cs-int-title">Health & Wellness Products</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/healthwellness" class="cs-link cs-active">Health & Wellness Products</a>
        </div>
    </div>
</div>

<!-- ============================================ -->
<!--               Side By Side                   -->
<!-- ============================================ -->

<section id="RPsbs-872">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Left Image-->
            <picture class="cs-left-img">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/advocare1.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/advocare1.webp">
                <img loading="lazy" decoding="async" src="/assets/images/advocare1.webp" alt="therapy" width="439" height="560">
            </picture>
            <!--Right Image-->
            <picture class="cs-right-img">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/advocare2.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/advocare2.webp">
                <img loading="lazy" decoding="async" src="/assets/images/advocare2.webp" alt="therapy" width="439" height="560">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Need A Boost?</span>
            <h2 class="cs-title">Supplements Can Aid in Your Fitness Goals</h2>
            <p class="cs-text">
                I was introduced to Advocare products in 2014 and have been using them religiously since. These products have helped with my own health & wellness, along with many of my clients.
            <br>
            <br>
                Check out my Advocare website, there are many supplements offered that may fit your needs & enhance your health & wellness.
            <br>
            <br>
                My daily routine includes:
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    Synbiotic Ultra - Prebiotic Probiotic Postbiotic
                </li>
                <li class="cs-li">
                    Omegaplex - Omega-3 Fatty Acid Dietary Supplement

                </li>
                <li class="cs-li">
                    Spark - Vitamin & Amino Acid Supplement
                </li>
                <li class="cs-li">
                    PRE Workout - Multinutrient Supplement
                </li>
            </ul>
            <a href="https://www.advocare.com/search/?D=140253930" class="cs-button-solid">Advocare Products</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--           Side By Side Reverse               -->
<!-- ============================================ -->

<section id="RPsbsr-872">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Right Image-->
            <picture class="cs-right-img">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/monat2.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/monat2.webp">
                <img loading="lazy" decoding="async" src="/assets/images/monat2.webp" alt="therapy" width="439" height="560">
            </picture>
            <!--Left Image-->
            <picture class="cs-left-img">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/monat1.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/monat1.webp">
                <img loading="lazy" decoding="async" src="/assets/images/monat1.webp" alt="therapy" width="439" height="560">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Get Beautified</span>
            <h2 class="cs-title">Naturally Based Products for Beautiful Hair & Skin</h2>
            <p class="cs-text">
                I have been using Monat since 2020. As we age our bodies change and I developed an allergy to antibacterial ingredients in many name brand lotions, shampoos, and makeup.
            <br>
            <br>
                Monat products were my savior. My hair and skin have never been healthier.
            <br>
            <br>
                These are products I will never live without:
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    Rejuvenique- Miracle oil that can be applied anywhere on the body
                </li>
                <li class="cs-li">
                    Rewind Age Control Nectar
                </li>
                <li class="cs-li">
                    C Radiance
                </li>
                <li class="cs-li">
                    Night Haven Overnight Age Control Cream
                </li>
                <li class="cs-li">
                    Volumizing Revive Shampoo
                </li>
                <li class="cs-li">
                    Volumizing Revitalize Conditioner
                </li>
                <li class="cs-li">
                    The Champ Dry Shampoo 
                </li>
            </ul>
            <a href="http://12431458.mymonat.com/" class="cs-button-solid">MONAT</a>
        </div>
    </div>
</section>
                                                                                         
{% endblock %}