---
title: 'Transform Your Fitness: Personal Training in Syracuse, NY'
description: 'Empower your fitness journey with personalized training in Syracuse, NY with expert guidance, nutrition advice, weight loss, and strength conditioning'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-674">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Welcome to Pam Corbett Fitness ---</span>
            <h2 class="cs-title">Unlock a <span class="cs-color">Healthier</span> and Happier You</h2>
            <p class="cs-text">
                Together, We Can Achieve the Results You Desire!
        <br>
        <br>
        PC Fitness offers small group personal training, online training, nutrition consultation, as well as Health & Wellness products.
        <br>
        <br>
                Click the button to schedule a chat!
            </p>
            <a href="/contact" class="cs-button-solid">Book Appointment</a>
        </div>
        <picture class="cs-background">
            <!--Desktop-->
            <source media="(min-width: 1024px)" srcset="/assets/images/heropic1.webp">
            <!--Tablet-->
            <source media="(min-width: 768px)" srcset="/assets/images/heropic1.webp">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/heropic1.webp">
            <img decoding="async" src="/assets/images/heropic.svg" alt="consultation" width="960" height="979" aria-hidden="true">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-674">
    <ul class="cs-card-group">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="assets/images/pticon.png" alt="icon" aria-hidden="true" decoding="async" width="52" height="52">
            </picture>
            <h2 class="cs-h2">Personal Training</h2>
            <a href="/personaltraining" class="cs-link" aria-label="learn more about Personal Training">Get Fit</a>
            <!--SVG Waves-->
            <img class="cs-waves" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services%2Fgrey-waves.svg" alt="waves graphic" aria-hidden="true" decoding="async" width="480" height="331">
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="assets/images/nutritionicon.png" alt="icon" aria-hidden="true" decoding="async" width="52" height="52">
            </picture>
            <h2 class="cs-h2">Nutrition Consultation</h2>
            <a href="/nutrition" class="cs-link" aria-label="learn more about Nutrition Consultation">Get Healthy</a>
            <!--SVG Waves-->
            <img class="cs-waves" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services%2Fgrey-waves.svg" alt="waves graphic" aria-hidden="true" decoding="async" width="480" height="331">
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="assets/images/proteinicon.png" alt="icon" aria-hidden="true" decoding="async" width="52" height="52">
            </picture>
            <h2 class="cs-h2">Energizing Supplements</h2>
            <a href="/healthwellness" class="cs-link" aria-label="learn more">Advocare</a>
            <!--SVG Waves-->
            <img class="cs-waves" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services%2Fgrey-waves.svg" alt="waves graphic" aria-hidden="true" decoding="async" width="480" height="331">
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="assets/images/skincareicon.png" alt="icon" aria-hidden="true" decoding="async" width="52" height="52">
            </picture>
            <h2 class="cs-h2">Skin & Hair Care</h2>
            <a href="/healthwellness" class="cs-link" aria-label="learn more">MONAT</a>
            <!--SVG Waves-->
            <img class="cs-waves" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services%2Fgrey-waves.svg" alt="waves graphic" aria-hidden="true" decoding="async" width="480" height="331">
        </li>
    </ul>
</section>
                                                                
                                
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbs-r-870">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/aboutpammobile.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/aboutpam.png">
            <img loading="lazy" decoding="async" src="/assets/images/aboutpam.png" alt="therapy" width="630" height="775">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Meet Pam Corbett:</span>
            <h2 class="cs-title">Personal Trainer and Health Coach</h2>
            <p class="cs-text">
                I have been a personal trainer since 2007 and have trained many clients ranging from athletes to people with disabilities.
            </p>
            <p class="cs-text">
                I believe exercise is fundamental to living a well-balanced life, physically and mentally. I strive to help clients meet their goals by designing purposeful and individually inspired exercise programs along with healthy fat burning recipes.  
            </p>
            <p class="cs-text">
                My own personal struggles have helped me understand and relate with any physical and mental limitations my clients may have. I have the Drive, Dedication and Experience to cement the importance of a healthy lifestyle that will push you to reach those goals you Desire and see Results!
            </p>
            <a href="/contact" class="cs-button-solid">Learn More</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--               Side By Side                   -->
<!-- ============================================ -->

<section id="RPsbs-872">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Left Image-->
            <picture class="cs-left-img">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/PT1.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/PT1.png">
                <img loading="lazy" decoding="async" src="/assets/images/PT1.png" alt="therapy" width="439" height="560">
            </picture>
            <!--Right Image-->
            <picture class="cs-right-img">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/PT2.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/PT2.png">
                <img loading="lazy" decoding="async" src="/assets/images/PT2.png" alt="therapy" width="439" height="560">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Services Provided:</span>
            <h2 class="cs-title">Personal Training & Nutrition Consultation</h2>
            <p class="cs-text">
                Personalized Training Programs include extensive workout regimens with step by step instructions. This includes the amount of sets, reps and rest times you should follow. A suggested weekly meal plan will be given to you for optimal results. This can be provided for you to follow at home or with me at my gym.
            </p>
            <p class="cs-text">
                Nutrition Consulting provides professional advice by educating my clients on their individual nutritional needs. Fueling our bodies with the proper variety and portion of foods at consistent times of the day leads to a healthier life.
            </p>
            <p class="cs-text">
                Here are some things I can help with: 
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    Private Training Sessions
                </li>
                <li class="cs-li">
                    Strength Training
                </li>
                <li class="cs-li">
                    Weight Loss
                </li>
                <li class="cs-li">
                    Overall Pain Reduction
                </li>
                <li class="cs-li">
                    Better Eating Habits
                </li>
                <li class="cs-li">
                    More Energy
                </li>
            </ul>
            <a href="/contact" class="cs-button-solid">Schedule An Appointment</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--           Side By Side Reverse               -->
<!-- ============================================ -->

<section id="RPsbsr-872">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Right Image-->
            <picture class="cs-right-img">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/advocaresupps.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/advocaresupps.png">
                <img loading="lazy" decoding="async" src="/assets/images/advocaresupps.png" alt="therapy" width="439" height="560">
            </picture>
            <!--Left Image-->
            <picture class="cs-left-img">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/monatsupps.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/monatsupps.webp">
                <img loading="lazy" decoding="async" src="/assets/images/monatsupps.webp" alt="therapy" width="439" height="560">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Other Services:</span>
            <h2 class="cs-title">Energizing Supplements & Hair/Skin Care</h2>
            <p class="cs-text">
                I provide expertise on AdvoCare Supplements and Monat Beauty/Wellness Products.
            </p>
            <p class="cs-text">
                I was introduced to Advocare products in 2014 and have been using them religiously since. These products have helped with my own health & wellness, along with many of my clients.
            </p>
            <p class="cs-text">
                I have been using Monat since 2020. As we age our bodies change, what happened to me I developed an allergy to antibacterial ingredients in many name brand lotions, shampoos, and makeup. Monat products were my savior.
            </p>
            </ul>
            <a href="/healthwellness" class="cs-button-solid">Click to Learn More</a>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-707">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Happy <span class="cs-color">Customer Feedback</span> About My Services</h2>
        </div>
        <div class="cs-flex-group">
            <div class="cs-review-group">
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/geneconway.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/geneconway.png">
                        <img loading="lazy" decoding="async" src="/assets/images/geneconway.png" alt="person" width="240" height="286">
                    </picture>
                    <!--Quote Block-->
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpink-quote.svg" alt="spidey sense graphic" width="58" height="48" aria-hidden="true">
                    </picture>
                </div>
                <div class="cs-review">
                    <p class="cs-review-text">
                        I've been working with Pam for more than 5 years and I have never felt stronger or healthier. Pam is passionate about fitness and it shows through the energy and enthusiasm she brings to every session.
                    </p>
                    <span class="cs-name">Gene Conway</span>
                    <span class="cs-job">Retired Sheriff</span>
                </div>
            </div>
            <div class="cs-review-group">
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/robinkatko.webp">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/robinkatko.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/robinkatko.webp" alt="person" width="240" height="286">
                    </picture>
                    <!--Quote Block-->
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpink-quote.svg" alt="spidey sense graphic" width="58" height="48" aria-hidden="true">
                    </picture>
                </div>
                <div class="cs-review">
                    <p class="cs-review-text">
                        I have been taking group exercise classes with Pam for 12 years. Her magnetic personality pushes me beyond what I could do on my own.
                        <br>
                        Her classes are tough, but definitely worth it, and NEVER boring.
                    </p>
                    <span class="cs-name">Robin Katko</span>
                    <span class="cs-job">Public Figure</span>
                </div>
            </div>
        </div>
    </div>
    <!--Ripple Graphic-->
    <picture class="cs-waves">
        <!--Mobile Image-->
        <source media="(max-width: 1023px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fripple3-m.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 1024px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fripple3.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fripple3.svg" alt="person" width="566" height="309">
    </picture>
</section>
                                                                                      
                                

    {% include 'components/cta.html' %}
{% endblock %}
